@media (max-width: 1300px) {
    .hero_block{
        flex-wrap: wrap;
    }
    .hero_image{
        width: 100%;
    }
    .hero_image>img{
        margin: 20px auto 0;
    }
    .hero_info{
        width: 100%;
    }
    .wrp_hero_image{
        margin-top: 20px;
    }
}
@media (max-width: 950px) {
    .wrapper{
        padding-left: 16px;
        padding-right: 16px;
    }
    .main_caption {
        font-size: 30px;
    }
    .second_caption {
        font-size: 24px;
    }
    .dao_item_number {
        font-size: 38px;
        padding-right: 40px;
    }
    .dao_item_number:after{
        width: 12px;
        height: 12px;
        margin-top: -6px;
    }
    .dao_item_text{
        font-size: 16px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .main_section{
        margin-top: 30px;
    }
    .building_block_item img {
        border-radius: 8px 26px;
    }
    .dao_list {
        margin-top: 20px;
    }
    .dao_caption {
        font-size: 20px;
    }
    .legislation_list{
        margin-top: 20px;
    }
    .legislation_item{
        width: 100%;
        padding: 20px 0;
        border-radius: 0 26px;
        margin-bottom: 0;
        
    }
    .faq_list_wrapper {
        padding: 8px;
    }
    .faq_item {
        padding: 20px;
        margin-bottom: 20px;
    }
    .faq_item_arrow{
        width: 35px;
        height: 35px;
    }
    .faq_item_caption {
        font-size: 20px;
    }
    .legislation_item_info{
        padding-left: 40px;
        padding-right: 40px;
    }
    .reviews_item{
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
    }
    .reviews_item_image{
        width: 100%;
    }
    .reviews_item_text{
        width: 100%;
        margin-left: 0;
    }
    .reviews_item_text_val {
        font-size: 14px;
        margin-top: 10px;
    }
    .reviews_item_quote {
        width: 22px;
        height: 14px;
        margin-top: 5px;
    }
    .reviews_item {
        border-radius: 20px
    }
    .reviews_item_image img {
        border-radius: 44px 0;
        margin: 0 auto;
    }
    .lots_block{
        margin-left: 0;
        margin-right: 0;
        flex-wrap: wrap;
    }
    .lot_item{
        width: 100%;
        border-radius: 0!important;
        margin-bottom: 20px;
    }
    .wrp_lot_item{
        /*
        max-width: 530px;
        margin: 0 auto;
        */
        
    }
    .lot_item_image{
        border-radius: 20px;
        overflow: hidden;
    }
    .join_numbers {
        flex-wrap: wrap;
    }
    .join_number{
        width: 50%;
    }
    .join_number_val{
        font-size: 36px;
    }
    .join_block{
        flex-wrap: wrap;
    }
    .join_block_left{
        width: 100%;
    }
    .join_block_right{
        width: 100%;
    }
    .join_caption1{
        font-size: 30px;
    }
    .join_image{
        border-radius: 20px 0;
    }
    .find_out_caption{
        flex-wrap: wrap;
    }
    .wrp_find_out_caption{
        width: 100%;
    }
    .find_out_more{
        width: 100%;
    }
    .find_out_more a:after{
        background-size: 24px;
    }
    .benefits_block{
        flex-wrap: wrap;
    }
    .benefits_col{
        width: 100%;
    }
    .benefits_col_center{
        width: 100%;
    }
    .benefits_row,
    .benefits_col{
        max-width: 400px;
        margin: 0 auto;
    }
    .benefits_row img,
    .benefits_col img{
        border-radius: 20px;
        margin-bottom: 10px;
    }
    .benefits_text{
        bottom: initial;
        text-align: left;
        top: 20px;
        right: 20px;
        left: 20px;
    }
    .benefits_block {
        margin-left: 0;
        margin-right: 0;
    }
    .benefits_col_center {
        margin-left: 0;
        margin-right: 0;
    }
    .how_caption {
        font-size: 24px;
    }
    .how_img1{
        border-radius: 0px 96px;
        width: 58px;
        height: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .how_img2{
        border-radius: 96px 0px;
        width: 58px;
        height: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .dogovor_image img {
        border-radius: 16px 40px;
    }
    .how_block_right {
        border-radius: 0 16px 0 40px;
    }
    .footer_logo{
        width: 100%;
    }
    .footer_block {
        flex-wrap: wrap;
    }
    .footer_info{
        width: 100%;
        margin-right: 0;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .video1{
        border-radius: 25px 10px;
    }
    .hero_text{
        margin-top: 20px;
        font-size: 14px;
    }
    .hero_block{
        margin-top: 0;
    }
    .header_menu{
        font-size: 16px;
        margin-top: 40px;
    }
    .header_logo{
        width: 80px;
    }
    .logo_wrapper {
        justify-content: space-between;
    }
    .hero_caption {
        font-size: 22px;
    }
    .lots_block {
        margin-top: 17px;
    }
    /*
    .lot_item_info_caption{
        font-size: 16px;
    }
    
    .lot_item_info_line{
        font-size: 10px;
    }
    */
    .lot_item_info_line{
        font-size: 14px;
    }
    .lot_item_info{
        left: 0;
        bottom: 0;
        right: 0;
    }
    .lot_item_image{
        border-radius: 0px 25px 25px 25px;
    }
    .lot_item{
        height: 320px;
        margin-bottom: 8px;
    }
    .join_caption1{
        font-size: 24px;
    }
    .join.main_section{
        margin-top: 22px;
    }
    .main_text{
        font-size: 14px;;
    }
    ._web{
        display: none;
    }
    ._mob{
        display: block;
    }
    .wrp_join_image{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .join_image{
        width: 49.5%;
    }
    .wrp_join_image .second_caption {
        width: 49.5%;
        font-size: 20px;
    }
    .join_image{
        margin-left: 0;
        aspect-ratio: 1;
    }
    .join_image img{
        height: 100%;
        object-fit: cover             ;
    }
    .join_block_right{
        margin-top: 8px;
        font-size: 14px;
    }
    .join_numbers {
        margin-top: 16px;
    }
    .join_number_text{
        font-size: 14px;
    }
    .wrp_find_out_caption .main_caption{
        font-size: 24px;
    }
    .find_out_video{
        margin-top: 16px;
    }
    .fancy_video{
        border-radius: 44px 0px;
    }
    .reviews_list{
        margin-top: 16px;
    }
    .reviews_item {
        padding: 8px;
        display: block;
    }
    .reviews_item_image{
        width: 50%;
        float: left;
        margin-right: 10px;
    }
    .reviews_item_quote{
        display: inline-block;
    }
    .reviews_item_caption{
        margin-top: 10px;
    }
    .how_block_left{
        margin-right: 4px;
    }
    .dogovor_block {
        width: 100%;
        flex-wrap: wrap;
    }
    .dogovor_image{
        width: 100%;
        
        height: 150px;
    }
    .dogovor_image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 0px 44px;
    }
    .dogovor_text{
        width: 100%;
        margin-top: 10px;
        padding-left: 0;
    }
    .building_block {
        margin-top: 10px;
    }
    .apps_video_caption {
        font-size: 16px;
    }
    .dao_caption{
        margin-top: 16px;
        font-size: 16px;
    }
    .dao_item_number {
        font-size: 32px;
        padding-right: 18px;
    }
    .dao_item_number:after{
        width: 10px;
        height: 10px;
    }
    .dao_item {
        flex-wrap: wrap;
    }
    .dao_item_text{
        width: 100%;
        padding-left: 0;
        text-align: left;
        padding-top: 4px;
        padding-bottom: 12px;
    }
    .benefits_row,
    .benefits_col{
        height: 150px;
    }
    .benefits_row img,
    .benefits_col img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .benefits_col_center{
        margin-top: 8px;
    }
    .benefits_row{
        margin-bottom: 8px;
    }
    .benefits_row img, .benefits_col img{
        margin-bottom: 8px;
    }
    .legislation_list {
        margin-top: 10px;
    }
    .legislation_item_text{
        font-size: 14px;
    }
    .legislation_item_info{
        padding-left: 8px;
        padding-right: 8px;
    }
    .legislation_item{
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .faq_list{
        margin-top: 24px;
    }
    .faq_text{
        font-size: 14px;
        margin-top: 12px;
    }
    .faq_item{
        border-radius: 14px;
        margin-bottom: 16px;
    }
    .footer_logo{
        width: 76px;
    }
    .footer_infos{
        display: flex;
        width: 100%;

    }
    .footer_info{
        margin-left: 0;
        width: 50%;

    }
    .footer_info_val{
        font-size: 14px;
        margin-top: 6px;
    }
    .footer_ellipse2{
        left: 305px;
    }
    .benefits_row img, .benefits_col img{
        border-radius: 0px 16px;
    }
    .benefits_col:last-child img{
        border-radius: 0px 66px;
    }
    .wrp_hero_text{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hero_image{
        width: 49.5%;
    }
    .wrapper_hero_text{
        width: 49.5%;
    }
    .wrp_hero_image{
        margin-top: 0;
        border-radius: 45px 0px;
    }
    .button{
        font-size: 14px;
        height: 38px;
    }
    .hero_buttons {
        margin-top: 5px;
        margin-right: 0;
    }
    .wrp_hero_text{
        margin-top: 8px;
    }
    .lang_selector{
        top: 8px;
        right: 8px;
        border-radius: 6px;
    }
    .lang_selector_select{
        font-size: 10px;
    }
    .lang_selector_select{
        font-size: 10px;
        padding: 8px 20px 8px 12px;
    }
    .lang_selector_select:after{
        width: 8px;
        height: 6px;
        right: 8px;
    }
    .lang_selector_item{
        font-size: 10px;
    }
    .lot_item_info:before{
        background: rgba(0, 0, 0, .5);
        border-radius: 26px;
    }

}

@media (max-width: 800px) {
    .hero_image_img{
        width: 15px;
        height: 15px;
        margin-left: -9px;
    }
    .hero_image_text{
        font-size: 10px;
    }
    .wrp_hero_image_text{
        left: 5px;
        bottom: 5px;
        right: 10px;
    }
    .button {
        font-size: 12px;
        height: 32px;
    }
    .hero_image {
        width: 45%;
    }
    .wrapper_hero_text {
        width: 53%;
    }
    .how_block_left{
        display: none;
    }
}
@media (max-width: 500px) {
    .lot_item{
        height: 170px;
    }
}
